<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="sharedProject.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="sharedProject.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="sharedProject.My.MySettings.dbdataConnectionString"
            connectionString="Data Source=158.181.48.94;Initial Catalog=dbdata;Persist Security Info=True;User ID=326773;Password=Extaler11!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <sharedProject.My.MySettings>
            <setting name="me_cookie_ABE" serializeAs="String">
                <value />
            </setting>
            <setting name="me_delayKey" serializeAs="String">
                <value>s295nbAa7hVNS7Pr</value>
            </setting>
            <setting name="me_connection_user_intervall" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="me_selected_key" serializeAs="String">
                <value>me_delay_key</value>
            </setting>
            <setting name="me_normalKey" serializeAs="String">
                <value>s295nbAa7hVNS7Pr</value>
            </setting>
            <setting name="me_temppath" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="me_logpath" serializeAs="String">
                <value>C:\Temp\AutoBetEngine\Log</value>
            </setting>
            <setting name="me_delayKey_backup" serializeAs="String">
                <value>s295nbAa7hVNS7Pr</value>
            </setting>
            <setting name="me_keyValue" serializeAs="String">
                <value>s295nbAa7hVNS7Pr</value>
            </setting>
            <setting name="me_logpaht" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="me_login_uri" serializeAs="String">
                <value>https://identitysso.betfair.com/api/login</value>
            </setting>
        </sharedProject.My.MySettings>
    </userSettings>
    <applicationSettings>
        <sharedProject.My.MySettings>
            <setting name="me_heartbeat_uri" serializeAs="String">
                <value>https://api.betfair.com/exchange/heartbeat/json-rpc/v1</value>
            </setting>
            <setting name="me_betting_uri" serializeAs="String">
                <value>https://api.betfair.com/exchange/betting/json-rpc/v1</value>
            </setting>
            <setting name="me_keepAlive_uri" serializeAs="String">
                <value>https://identitysso.betfair.com/api/keepAlive</value>
            </setting>
            <setting name="me_connection_application_intervall" serializeAs="String">
                <value>10</value>
            </setting>
        </sharedProject.My.MySettings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.24.0.0" newVersion="0.24.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
