<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="sharedProject.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="sharedProject.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="sharedProject.My.MySettings.DB_EXPORTConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Temp\DB_EXPORT.mdb" providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <sharedProject.My.MySettings>
            <setting name="me_cookie_ABE" serializeAs="String">
                <value />
            </setting>
            <setting name="me_delayKey" serializeAs="String">
                <value>fJWrrsDoo4ays822</value>
            </setting>
            <setting name="me_connection_user_intervall" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="me_selected_key" serializeAs="String">
                <value>delay_key</value>
            </setting>
            <setting name="me_normalKey" serializeAs="String">
                <value>vb0GqKJUPozKinAD</value>
            </setting>
        </sharedProject.My.MySettings>
    </userSettings>
    <applicationSettings>
        <sharedProject.My.MySettings>
            <setting name="me_heartbeat_uri" serializeAs="String">
                <value>https://api.betfair.com/exchange/heartbeat/json-rpc/v1</value>
            </setting>
            <setting name="me_betting_uri" serializeAs="String">
                <value>https://api.betfair.com/exchange/betting/json-rpc/v1</value>
            </setting>
            <setting name="me_keepAlive_uri" serializeAs="String">
                <value>https://identitysso.betfair.com/api/keepAlive</value>
            </setting>
            <setting name="me_connection_application_intervall" serializeAs="String">
                <value>10</value>
            </setting>
        </sharedProject.My.MySettings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>