<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sharedProject.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <sharedProject.My.MySettings>
            <setting name="me_cookie_ABE" serializeAs="String">
                <value />
            </setting>
            <setting name="me_delayKey" serializeAs="String">
                <value />
            </setting>
            <setting name="me_heartbeat_uri" serializeAs="String">
                <value>https://api.betfair.com/exchange/heartbeat/json-rpc/v1</value>
            </setting>
            <setting name="me_betting_uri" serializeAs="String">
                <value>https://api.betfair.com/exchange/betting/json-rpc/v1</value>
            </setting>
            <setting name="me_keepAlive_uri" serializeAs="String">
                <value>https://identitysso.befair.com/api/keepAlive</value>
            </setting>
        </sharedProject.My.MySettings>
    </userSettings>
</configuration>